{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block head_scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"  media="screen,projection"/>
{% endblock head_scripts %}

{% block content %}
    <a href="{% url 'logout' %}" class="btn center-align hide-on-med-and-up" style="position:fixed; bottom:5%;">Logout</a>
    <a href="{% url 'logout' %}" class="btn hide-on-small-only" style="position:fixed; top:5%; right:5%; ">Logout</a>
    <div class="container">
        <div class="row">
            <h1>Wedding Dashboard</h1>
            <div class="col s12 m6 l6">
                <form class="" action="{% url 'invitation:add_invitation' %}" method="post">
                    <h4>Add Invitation</h4>
                    <div class="divider"></div>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="row">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="input-field col s10 l7 offset-l1">
                            {{ form.name.errors }}
                            {{ form.name }}
                            {{ form.name.label_tag }}
                        </div>
                        <div class="input-field col s7 l5">
                            {{ form.invited_by.errors }}
                            {{ form.invited_by }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 l4">
                            <p>Sangeet</p>
                            <div class="switch">
                                {{ form.invited_sangeet.errors }}
                                <label>
                                    {{ form.invited_sangeet }}
                                    <span class="lever"></span>
                                    invited
                                </label>
                            </div>
                        </div>
                        <div class="col s4 l4">
                            <p>Ceremony</p>
                            <div class="switch">
                                {{ form.invited_ceremony.errors }}
                                <label>
                                    {{ form.invited_ceremony }}
                                    <span class="lever"></span>
                                    invited
                                </label>
                            </div>
                        </div>
                        <div class="col s4 l4">
                            <p>Reception</p>
                            <div class="switch">
                                {{ form.invited_reception.errors }}
                                <label>
                                    {{ form.invited_reception }}
                                    <span class="lever"></span>
                                    invited
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l3">
                            <br>
                            <input id="create" class="btn" type="submit" value="Invite" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m6 l6">
                <h4>Stats</h4>
                <div class="divider"></div>
                {% if stats %}
                    <table class="highlight responsive-table">
                        <thead>
                            <td></td>
                            <td>Invitations</td>
                            <td>Guest</td>
                        </thead>
                        <tbody>
                            {% for name, invitations, guests in  stats %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>{{ invitations }}</td>
                                    <td>{{ guests }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>Nothing to see here...</h5>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h3>Lists</h3>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#invitations" class="black-text">Invitations</a></li>
                    <li class="tab col s6"><a href="#guests" class="black-text">Guests</a></li>
                </ul>
            </div>
            <div id="invitations" class="col s12">
                <input type="text" id="invitation-search" placeholder="Search invitations">
                <table class="highlight responsive-table">
                    <thead>
                        <td>Name</td>
                        <td>Password</td>
                        <td>RSVP?</td>
                        <td>Invited By</td>
                        <td>Guest List</td>
                        <td>Guest Count</td>
                        <td>Link</td>
                    </thead>
                    <tbody id="invitation-rows">
                        {% for invitation in lizts.0 %}
                            <tr>
                                <td>{{ invitation.name }}</td>
                                <td>{{ invitation.password }}</td>
                                {% if invitation.rsvp %}
                                    <td class="green-text">
                                        {{ invitation.rsvp }}
                                    </td>
                                {% else %}
                                    <td class="red-text">
                                        {{ invitation.rsvp }}
                                    </td>
                                {% endif %}

                                <td>{{ invitation.invited_by }}</td>
                                <td>{{ invitation.guest_list|safe }}</td>
                                <td>{{ invitation.guest__count }}</td>
                                <td><a href="{{ invitation.get_absolute_url }}" class="btn pink white-text waves-effect waves-red hoverable">See Invitation <i class="material-icons right">trending_flat</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="guests" class="col s12">
                <input type="text" id="guest-search" placeholder="Search Guests">
                <table class="highlight responsive-table"v>
                    <thead>
                        <td>Name</td>
                        <td colspan="3" class="center-align">Attending</td>
                        <td>Invited By</td>
                        <td>Link</td>
                    </thead>
                    <tbody id="guest-rows">
                        {% for guest in lizts.1 %}
                            <tr>
                                <td>{{ guest.name }}</td>
                                <td>
                                    {% if guest.attending_sangeet %}
                                        Sangeet
                                    {% endif %}
                                </td>
                                <td>
                                    {% if guest.attending_ceremony %}
                                        Ceremony
                                    {% endif %}
                                </td>
                                <td>
                                    {% if guest.attending_reception %}
                                        Reception
                                    {% endif %}
                                </td>
                                <td>{{ guest.invitation.invited_by }}</td>
                                <td><a href="{{ guest.invitation.get_absolute_url }}" class="btn pink white-text waves-effect waves-red hoverable">See Invitation <i class="material-icons right">trending_flat</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock content %}

{% block body_scripts %}
    <script type="text/javascript" src="{% static 'js/bin/search.js' %}"></script>
    {% if  messages %}
            <script type="text/javascript">
                $(document).ready(function(){
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            Materialize.toast('{{ message }}', 5000, 'red white-text');
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            Materialize.toast('{{ message }}', 3000, 'green white-text');
                        {% else %}
                            Materialize.toast('{{ message }}', 3000);
                        {% endif %}
                    {% endfor %}
                });
            </script>
    {% endif %}
{% endblock body_scripts %}
