{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
	<h1>Add Invitation</h1>
        <form class="" action="{% url 'invitation:add_invitation' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="row">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}{{ field }}<br>
            {% endfor %}
            <input id="create" class="btn red" type="submit" value="Create" />
        </form>

    {% if invitations %}
        <h2>Invitations</h2>
        <table>
            <thead>
                <td>
                    Name
                </td>
                <td>
                    Guests
                </td>
            </thead>
            <tbody>
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>You Haven't Invited Anyone Yet...Do It!</h2>
    {% endif %}

    <a href="{% url 'logout' %}">Logout</a>
{% endblock content %}
