{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ invitation.name }} Invitation {% endblock title %}

{% block head_scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"  media="screen,projection"/>
{% endblock head_scripts %}

{% block content %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="nav-list right hide-on-med-and-down" >
                    {% include "invitation/navbar.html" %}
                </ul>
                <a href="#" class="brand-logo">shruti & mohit</a>
                <ul class="nav-list side-nav" id="mobile-demo">
                    <li id="logo-container">
                        <a href="{{ invitation.get_absolute_url }}"  >
                            <img class="brand-logo" src={% static 'img/logo.png' %} alt="Ganesh Ji" />
                        </a>
                    </li>
                    {% include "invitation/navbar.html" %}
                </ul>
            </div>
        </nav>
    </div>
    <div id="hero">
        {% if user.is_staff %}
            <div class="row" id="add-guest">
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content">
                            <h4>Add Guest</h4>
                            <form action="{% url 'invitation:add_guest' invitation.name %}" method="post">
                                {% csrf_token %}
                                {% if add_guest_form.non_field_errors %}
                                    <div class="row">
                                        {{ add_guest_form.non_field_errors }}
                                    </div>
                                {% endif %}
                                <div class="row text-input">
                                    <p>Guest Name</p>
                                    <div class="col s9 m9 l9">
                                        {% for field in add_guest_form %}
                                            {{ field.errors }}
                                            {{ field }}
                                        {% endfor %}
                                    </div>
                                    <div class="col s3 m3 l3" style="padding-left: 0;">
                                        <input id="create" class="btn" type="submit" value="Create"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row" id="rsvp">
            <h2><a class="pink-text" name="rsvp">rsvp</a></h2>
            {% for guest, form in guest_list %}
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title no-bottom-padding">{{ guest.name }}</h4>
                            <p class="light" style="margin-bottom: 1rem !important;">Please click rsvp even if you will not be attending</p>
                            <form action="{% url 'invitation:update_guest' invitation.name guest.pk %}" method="post">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="row">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                                <div class="row" style="margin-bottom:0;">

                                    {% if invitation.invited_sangeet %}
                                        <div class="col s6 m6 l6">
                                            <p>Sangeet</p>
                                            <div class="switch">
                                                {{ form.attending_sangeet.errors }}
                                                <label>
                                                    No
                                                    {{ form.attending_sangeet }}
                                                    <span class="lever"></span>
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if invitation.invited_ceremony %}
                                        <div class="col s6 m6 l6">
                                            <p>Wedding Ceremony</p>
                                            <div class="switch">
                                                {{ form.attending_ceremony.errors }}
                                                <label>
                                                    No
                                                    {{ form.attending_ceremony }}
                                                    <span class="lever"></span>
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if invitation.invited_reception %}
                                        <div class="col s6 m6 l6">
                                            <p>Reception</p>
                                            <div class="switch">
                                                {{ form.attending_reception.errors }}
                                                <label>
                                                    No
                                                    {{ form.attending_reception }}
                                                    <span class="lever"></span>
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if invitation.invited_reception %}
                                    <div class="col s6 m6 l6">
                                        <div class="input-field">
                                            {{ form.meal_choice.errors }}
                                            {{ form.meal_choice }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row text-input">
                                    <p>Additional Info</p>
                                    {{ form.note.errors }}
                                    <div class="input-field col s12 l9">
                                        {{ form.note }}
                                    </div>
                                    <div class="col s6 l3">
                                        <input id="create" class="btn" type="submit" value="RSVP" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/parallax/parallax9.jpg' %}" alt="Look Back" />
        </div>
    </div>
    <div class="container" id="info">
        <div class="row">
            <h2><a class="purple-text text-lighten-1" name="#info">info</a></h2>
            {% if invitation.invited_sangeet %}
                <h4 class="orange-text"><img src={% static 'img/paisley.png' %} alt="" class="deco"/>  Sangeet</h4>
                <div class="divider"></div>
                <div class="row">
                    {% if invitation.invited_by == "verma" %}
                        <div class="col s12 m6 l6">
                            <h5>When</h5>
                            <p>
                                Thursday, August 4, 2016<br>
                                6:00 pm
                            </p>
                            <h5>Where</h5>
                            <p>
                                The Verma Residence<br>
                                1 Shadyridge Road<br>
                                Brampton, ON L6P 1K3
                            </p>
                        </div>
                        <div class="col s12 m6 l6 map">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.738185042336!2d-79.67228338414202!3d43.778293352350005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3cb4e8481aaf%3A0x170b8517408c8758!2s1+Shadyridge+Rd%2C+Brampton%2C+ON+L6P+1K4!5e0!3m2!1sen!2sca!4v1457986082304" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% elif invitation.invited_by == "gupta" %}
                        <div class="col s12 m6 l6">
                            <h5>When</h5>
                            <p>
                                Monday, August 1, 2016<br>
                                3:00 pm
                            </p>
                            <h5>Where</h5>
                            <p>
                                The Gupta Residence<br>
                                2136 Appleleaf Way<br>
                                Ottawa, ON K1W 1J9
                            </p>
                        </div>
                        <div class="col s12 m6 l6 map">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.617312585962!2d-75.53363358410552!3d45.43721514326402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0dfe52a11495%3A0x1b72b02a2fd624be!2s2136+Apple+Leaf+Way%2C+Orl%C3%A9ans%2C+ON+K1W+1J9!5e0!3m2!1sen!2sca!4v1457985569109" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if invitation.invited_ceremony %}
                <h4 class="pink-text"><img src={% static 'img/ganesh_ji.gif' %} alt="" class="deco"/>  Wedding Ceremony</h4>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h5>When</h5>
                        <p>
                            Sunday, August 7, 2016<br>
                            <ul>
                                <li><strong>Baraat</strong> arrives at 9 am</li>
                                <li><strong>Ceremony</strong> begins at 10 am</li>
                                <li><strong>Lunch</strong> to follow</li>
                            </ul>
                        </p>
                        <h5>Where</h5>
                        <p>
                            Toscana Banquet Hall<br>
                            at the Hilton Garden Inn Hotel<br>
                            3201 Highway 7 West<br>
                            Vaughan, ON, L4K 5Z7
                        </p>
                    </div>
                    <div class="col s12 m6 l6 map">
                        <div class="video-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.0351022822074!2d-79.5319255841417!3d43.79288465140414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2fbba52ab6a1%3A0x70f33bebdc04021!2sHilton+Garden+Inn+Toronto%2FVaughan!5e0!3m2!1sen!2sca!4v1457987506939" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if invitation.invited_reception %}
                <h4 class="purple-text text-lighten1"><img src={% static 'img/mandala.png' %} alt="" class="deco"/>  Reception</h4>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h5>When</h5>
                        <p>
                            Sunday, August 7, 2016<br>
                            <ul>
                                <li><strong>Cocktails</strong> begin at 6 pm</li>
                                <li><strong>Program and dinner</strong> begins at 7 pm</li>
                                <li>Bring your dancing shoes!</li>
                            </ul>
                        </p>
                        <h5>Where</h5>
                        <p>
                            The Manor<br>
                            16750 Weston Road<br>
                            Kettleby, ON L0G 1J0
                        </p>
                    </div>
                    <div class="col s12 m6 l6 map">
                        <div class="video-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2869.692426532635!2d-79.60456768413707!3d44.00708383749213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ada2de142b471%3A0x788cbd162b19548f!2sThe+Manor+ByPeterandPauls.com!5e0!3m2!1sen!2sca!4v1457987935886" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="parallax-container no-bottom-padding">
        <div class="parallax"><img src={% static 'img/parallax/parallax6.jpg' %} alt="Shruti and Mohit Beside a wall" /></div>
    </div>
    <div class="container" id="accommodation">
        <div class="row center-align">
            <h2 class="center-align"><a class="orange-text" name="accommodation">travel & accommodation</a></h2>
            <p>
                A block of rooms has been reserved at the
            </p>
            <h5><a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-toronto-vaughan-YYZVAGI/index.html">Hilton Garden Inn Hotel</a></h5>
            <p>
                (Same location as the wedding ceremony)<br><br>
                To secure the group rate, please make your reservations by June 15.
            </p>
            <ul>
                <li><i class="material-icons">phone</i> +1 905 660 4700</li>
                <li><i class="material-icons">language</i><a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-toronto-vaughan-YYZVAGI/index.html">hiltongardeninn3.hilton.com</a></li>
                <li><i class="material-icons">mail</i>3201 Highway 7, Vaughan, ON, L4K 5Z7</li>
            </ul>
            <p>
                To get the group rate, mention the <span class="pink-text">'Verma Gupta Wedding'</span> and use our special rate code: <span class="pink-text">VGW</span><br><br>
                If you are unable to book a room at the Hilton Garden Inn due to room unavailability, contact us and we'll
                help you find some other local options.<br>
                A shuttle will be provided to take guests from the hotel to the reception...more information to come.

            </p>
        </div>
    </div>
    <div class="row pink white-text no-bottom-padding">
        <div class="col s12 center-align" id="help">
            <h2><a class="white-text" name="help">we need your help!</a></h2>
            <p>
                Most of the pictures on this site are just of Shruti and I. We're looking to collect pictures of moments that we've shared with you. If you have any pictures you would like to share, please email them to <a class="white-text" href="mailto:shrutiandmohit@gmail.com">shrutiandmohit@gmail.com</a><br><br>
                Pretty please?
            </p>
        </div>
    </div>
    <div class="slider hide-on-large-only">
        <ul class="slides">
            <li>
                <img src="{% static 'img/slider/slider2.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider5.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/portrait_slider1.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/portrait_slider2.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider8.jpg' %}">
            </li>
        </ul>
    </div>
    <div class="slider hide-on-med-and-down">
        <ul class="slides">
            <li>
                <img src="{% static 'img/slider/slider1.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider2.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider3.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider4.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider5.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider6.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider7.jpg' %}">
            </li>
            <li>
                <img src="{% static 'img/slider/slider8.jpg' %}">
            </li>
        </ul>
    </div>
    <div class="container" id="social">
        <h2 class="center-align"><a class="pink-text" name="social">social media</a></h2>
        <div class="row center-align">
            <p>
                Nothing to see here yet but check back here on the day of the events to see pictures and messages from the events.<br><br>
            </p>
            <h4>#ShrutiWedsMohit</h4>
            <h4>#HappilyEverGupta</h4>
            <h4>#MSMerger2016</h4>
        </div>
        <div class="row center-align">
            <img class="ganesh" src={% static 'img/ganesh_ji.gif' %} alt="Ganesh Ji"  />
        </div>
    </div>

    <footer class="footer-copyright pink">
        <div class="container">
                <p class="white-text">
                    © 2016 Factor9 Design, All rights reserved.
                </p>
        </div>
    </footer>
{% endblock content %}

{% block body_scripts %}
    <script type="text/javascript" src="{% static 'js/bin/slowscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bin/hero.js' %}"></script>
    {% if  messages %}
        <script type="text/javascript">
            $(document).ready(function(){
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Materialize.toast('{{ message }}', 5000, 'red white-text');
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        Materialize.toast('{{ message }}', 4000, 'green white-text');
                    {% else %}
                        Materialize.toast('{{ message }}', 3000);
                    {% endif %}
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock body_scripts %}
