{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="center-align">You lost bro?</h1>
            {% if user.is_staff %}
                <a href="{% url 'invitation:dashboard' %}" class="center-align">Back to Dashboard</a>
            {% else %}
                <a href="{{ user.invitation.get_absolute_url }}" class="center-align">Back To Invitation</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="center-align">Logout</a>
        {% else %}
            <h1 class="center-align">Login</h1>
            {% if form.errors %}
                <p class="center-align">Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p class="center-align">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p class="center-align">Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div class="row">
                <form method="post" action="{% url 'login' %}" class="center-align">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s10 l8 center-align">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                    </div>
                    <input type="submit" value="login" id="login" class="btn red"/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
