{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}
{% block head_scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"  media="screen,projection"/>
{% endblock head_scripts %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="logo"></div>
        <div class="login-block">
            <h1 class="center-align">You lost bro?</h1>
            {% if user.is_staff %}
                <a href="{% url 'invitation:dashboard' %}" class="center-align">Back to Dashboard</a>
            {% else %}
                <a href="{{ user.invitation.get_absolute_url }}" class="center-align">Back To Invitation</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="center-align">Logout</a>
        </div>
    {% else %}
        <div class="logo"></div>
        <div class="login-block">
            <form method="post" action="{% url 'login' %}">
                <h1>Login</h1>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                    <p class="center-align">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <p class="center-align">Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.password.label_tag }}
                {{ form.password }}
                <input type="submit" value="login" id="login" class="btn red"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    {% endif %}
{% endblock content %}
