@font-face {
    font-family: 'bodytext';
    src: url("../fonts/champagne_limousines/Champagne-Limousines.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'handwritten';
    src: url("../fonts/aracne_ultra_condensed/ARACNE-ULTRA-CONDENSED_regular.otf") format('opentype');
    font-style:normal;
}


body{
    margin:0px 0px 0px 0px;
    padding-bottom: 0px;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
    font-family: 'bodytext';
}

nav {
    font-family: 'handwritten';
}

nav .brand-logo {
    font-size: 4rem;
}

ul.nav-list a{
    font-size: 3rem !important;
}
#hero{
  background-image:url("../img/hero/hero-closeup-wall.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

a.brand-logo {
    padding-left: 1em;
}

.full-width {
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;

}

h2 {
    font-family: 'handwritten', sans-serif;
}

footer {
    padding: 0.3em 0 0.3em 0;
}

.map {
    padding-top: 1rem !important;
}

.info-block {
    padding-left: 2rem !important;
}

.row.text-input {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
