<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}You're Invited!{% endblock title %} | Shruti and Mohit's Wedding Site</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>

	</head>
	<body>
	{% block content %}
		Stuff goes in here
	{% endblock content %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bin/custom.js' %}"></script>
	</body>
</html>
